doctype html
html
	head
		title=title
		link(rel="icon" href="/stylesheets/css/images/favicon.ico")
		script(src='https://use.fontawesome.com/747ae3eeb7.js')
		link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|Roboto+Mono|Signika", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/css/style.css')
		link(rel='stylesheet',href='/stylesheets/css/bootstrap.min.css')
		link(rel='stylesheet',href='/stylesheets/css/mycss.css')
		link(rel='stylesheet',href='/stylesheets/css/fullslider.css')
		script(src='https://code.jquery.com/jquery-3.2.1.js')
		script(src='/javascripts/js/myjs.js')

	body
		block content
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='/javascripts/js/bootstrap.min.js')
