extends layout
block content

	div.modal#my-modal2
		div.modal-dialog
			div.modal-content
				div.modal-body(style="background-color:#dddfd4;")
					img.img-responsive(src="/images/logo.png")
					span
						h2(style="color:rgb(167,167,167);text-align:center;")
							i How you doin'?
					hr
					h5#err(style="margin-bottom:20px;color:rgb(214, 44, 26);text-align:center;")
					form.form-horizontal#form-sign-in(action="http://localhost:8000/users/login")
						fieldset
							div.form-group
								label.col-lg-2.control-label.label_sign(for='input_userName') Username
								div.col-lg-8
									input.form-control#input_user(type="text",placeholder="Enter username")
							div.form-group
								label.col-lg-2.control-label.label_sign(for='input_passWord') Password
								div.col-lg-8
									input.form-control#input_pass(type="password",placeholder="Enter password")
							div.form-group
								div.col-lg-8
									button.btn.btn-danger.btn-lg#sign-in(type="submit",style="margin-left:60%;") SIGN IN

	nav.navbar.navbar-default.navbar#nav-bar2(role="navigation",style="background-color:transparent;")
		div.container-fluid
			div.navbar-header
				button.navbar-toggle(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#",style="background-color:rgb(246, 194, 15);")
					img(src="/images/logo.png",alt="",style="height:60px;padding-bottom:20px;")


			div.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav#menu-items
					li
						a(href="http://localhost:8000/") HOME
					li
						a(href="http://localhost:8000/search/tv/batman") TV
					li
						a(href="http://localhost:8000/search/movies/batman") MOVIES
					li
						a(href="#") ABOUT
					li
						a(href="#") CONTACTS
					li
						a#sign_in(href="#") SIGN IN
					li
						a#user_current(href="http://localhost:8000/users/profile/",style="color:yellow;display:none") 


				form.navbar-form.navbar-right(role="search")


					select.form-control#tvormovie(data-style="btn-warning",style="margin-right:5px;background-color:transparent;color:#FFF;")
						option(value="Tv series",style="color:#FFF;background-color:transparent;") Tv Series
						option(value="Movies",style="color:#FFF") Movies
					input#queryy(type="search",placeholder="Search")

					btn.btn.btn-warning#search(style="border-radius:50%;margin-left:5px;") Search
	div.container#gallery

	script.

		var user_current=null;
		if(!{JSON.stringify(session_user)} !==undefined)
			user_current=!{JSON.stringify(session_user)};


		var result=!{JSON.stringify(result)};
		if(user_current!==' '){
			$('#user_current').css('display','block');
			$('#user_current').html('Hi,');
			$('#user_current').append(user_current);
			}

		var ids=0;
		for(var i =0;i<result.results.length;i++)
		{
			var info=$('<span style="display:none;"></span>');
			var title_=result.results[i].original_name;
			var overview_=result.results[i].overview;
			
			var gal=$('<div></div>');


			gal.addClass('gallery');
			var description=$('<div></div>');
			description.addClass('desc');
			gal.css('margin','5px');
			gal.css('border','1px solid #ccc');
			gal.css('float','left');
			gal.css('width','190px');
			gal.css('height','320px');
			
			gal.hover(function()
			{
				$(this).css('border','1px solid #777');
			});

			description.css('padding','15px');
			description.css('text-align','center');

			description.css('height','30px');

			gal.css('background-color','transparent');
			gal.css('padding-top','4px');








				var base_url="http://image.tmdb.org/t/p/w185";

				var image=$('<img></img>');

				var links=$('<span></span>');
				var add_link=$('<a href="#" class="add_to_watchlist" ></a>');
				var like_link=$('<a href="#" class="likes" ></a>');
				var watch_link=$('<a href="#" class="add_to_wishlist" action="submit"></a>');
				var add=$('<i class="fa fa-plus-square " action="submit"></i>');
				var watch_list=$('<i class="fa fa-list " action="submit"></li>')
				var like=$('<i class="fa fa-heart " action="submit"></i>');
					add.css('color','#BEBCBA');
					watch_list.css('color','#5b7983')

					like.css('color','#f72624');
          
					add_link.append(add);
					add_link.attr('id',ids);
					like_link.append(like);
					like_link.attr('id',ids);
					watch_link.append(watch_list);
					watch_link.attr('id',ids);


				add_link.css('margin-left','7px');
				add_link.css('padding-top','4px');
				like_link.css('margin-left','7px');
				watch_link.css('margin-left','7px');
				links.css('margin-left','7px');

				$('#gallery').css('background-color','#1D1D1D');
				$('#gallery').css('font-family','"Oswald", sans-serif');

				var image_url='';

				var more_info=$('<a href="#">More Info</a>');
				if(result.results[i].poster_path!==null){
				image_url=base_url+result.results[i].poster_path;
				//console.log(image_url);
				}
				else
				{
				continue;
				}
				$('body').css('background-color','#1D1D1D');
				$('body').css('margin','0px');
				more_info.css('margin-left','7px');
				image.attr('src',image_url);
				description.append(links);
				image.css('height','280px');
				image.css('width','185px');
				image.attr('id',ids);
				ids++;

			  info.attr('id',result.results[i].poster_path);
				info.attr('class',result.results[i].original_name);
				info.html(result.results[i].overview);

				gal.append(image);
				gal.append(info);
				gal.append(add_link);
				gal.append(like_link);
				gal.append(watch_link);
				
				

				gal.append(more_info);
				$('#gallery').append(gal);
				$('#gallery').css('margin-left','0px');
				//console.log(result.results[i]);

		}
