body{

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#f8c11e;

}
#modal-body
{

    font-family: 'Oswald', sans-serif;
    background-color:#dddfd4;


}
@media (max-width: 340px) and (min-width:290px) {
    /* For mobile phones: */
  #res_header
   {
    width:280px;
   }
   #res_content
   {
    width:280px;
   }
   #res_body
   {
    width:280px;
   }
   .img_overview
   {
    width:210px;
   } 
  


}
@media (max-width:340px) and (min-width:290px)
{
  #gall
  {
    width:100%;
  }

}
#hrr
{
  border-top:solid 2px #fff;
}
#response
{
  font-family: 'Oswald', sans-serif;
}
.label_sign
{
  font-family: 'Oswald', sans-serif;
}

.control-label
{
  color:rgb(167, 167, 167);
}
a {
  color: #000;
}
#error,#err
{
  font-family: 'Oswald', sans-serif;
}

#my-modal
{
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;

}

#modal-head
{
  background-color:#fff;
  font-family: 'Oswald', sans-serif;
  color:rgb(167, 167, 167);
}

#nav-bar
{
  background-color: rgba(38, 28, 9,0.5);
 
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.scrool
{
  height:50px;
}
input[type=search] {
  width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;

	padding: 9px 10px 9px 32px;
	width: 40px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 180px;
	background-color: #fff;
	border-color: #fff;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
   outline: none;
}
#my-modal2
{

   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 100;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;

}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
#menu-items ,#tvormovie
{

    font-family: 'Oswald', sans-serif;
   font-size:15px;
}
a:hover{
 text-decoration: none;
}
#menu-items:hover
{
  text-decoration: none;
}
li:hover
{
  color:#fff;
}

#join
{
  margin-bottom: 50px;
  width:180px;
  height:50px;
  background-color: #0A111B;

}
#heading
{
  margin-bottom:40px;;
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
  font-size:3.7vw;
  color:#52545F;
}



footer
  {

    font-family: 'Roboto Mono', monospace;

  }
#foot
{
 color:#0DD5FC;
 text-align: center;

 height:50px;
 margin-top:23px;
}

#subhead
{
  margin-bottom: 45px;
  font-family: 'Roboto Mono', monospace;
  font-size:2vw;
  color:#1d1d1d;
}
